@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.Exerc {
  margin: 5px;
  background-color: #FAFAFA;
  font-family: 'Poppins', sans-serif;
}

.Exerc input {
  width: 180px;
  height: 20px;
  padding: 10px;
  outline: 1px solid #c2c2c2;
  background-color: rgb(139, 193, 218);
  border: 1px solid rgb(30, 178, 247);
  margin-left: 10px;
  border-radius: 40px;
}

form div {
  align-items: center;
  display: flex;
  flex-direction: row;
}

form div p {
  font-weight: bold;
}

/* caixa central */
.Soma_resp {
  margin-top: 40px;
  text-align: center;
  width: 80%;
  border: 1px solid black;
  padding: 10px;
  border-radius: 20px;
}

.Resultado {
  background-color: tomato;
  color: darkblue;
  text-align: center;
  font-weight: bold;
}